.imageCover
{
	position: fixed;
	top: 0px;
	left: 0px;

	background: rgba(0, 0, 0, 0.8);

	width: 100%;
	height: 100%;
}

.imageContainer
{
	position: static;

	border: 10px solid #424242;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	background: transparent;

	margin: 25px 0px 0px 0px;
}

.imageContainer img
{
	max-width: 1000px;
	max-height: 1000px;

	cursor: pointer;
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
}